body, h1, h2 {
    font-family: "Abril Fatface", cursive;
}

.master_cont{
    background-color:rgb(183, 204, 209);
}

#mapviz{
    width: 100%;
    border:1px solid;
    border-color:black
}

#viz1{

    border:1px solid;
    border-color:black
}

#viz2{
    border:1px solid;
    border-color:black
}

#viz3{
    border:1px solid;
    border-color:black
}

#latest_grades_viz{
    height:400px
}

/* set Bootstrap breakpoint */
