body, h1, h2 {
    font-family: 'Yantramanav', sans-serif;
}

body{
    background-color: lightgrey;
}
form {
    background-color:rgb(140, 179, 176);
    padding: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

label {
    margin-right: 5px;
}

.jumbotron {
    background-color:rgb(168, 199, 197);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.9);
}

.btn-block {
    margin-top: 40px;
    margin-bottom: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.master_cont{
    background-color:rgb(183, 204, 209);
}

#mapviz{
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.9);
    height: 500px
}

#viz1{

    border:1px solid;
    border-color:black;
    background-color: darkgrey;
}

#viz3{
    width: 900px;
    height: 500px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.9);
}

#grades_time_viz {
    height:400px;
    width: 600px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.9);
}

#latest_grades_viz{
    width: 600px;
    height:400px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.9);
}

